@import '../App.css';

.admin-sign-page {
    min-height: 76vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    background-color: var(--orange);
    max-width: 340px;
    max-height: 500px;
    border-radius: 40px;
    padding: 32px;
    color: var(--dark);
    margin-left: 40px;
}