@font-face {
  font-family: 'Nulshock';
  src: url('./fonts/nulshockbd.ttf') format('truetype');
}

@font-face {
  font-family: 'Nexa-Demo-Bold';
  src: url('./fonts/NexaDemo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nexa-Demo-Light';
  src: url('./fonts/NexaDemo-Light.ttf') format('truetype');
}


:root {
  --dark: #212121;
  --orange: #DD4A25;
  --light: #E1D3B1;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  background-color: var(--dark);
  color: var(--light);
  font-family: Nexa-Demo-Light, sans-serif;
  font-size: 20px;
  overflow-x: hidden;
}

.navpanel {
  min-height: 80px;
}

.navpanel a {
  text-decoration: none;
  color: var(--light);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
}

.profilebtn {
  margin-top: 8px;
}

.main-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: Nulshock, sans-serif;
  font-size: 108px;
  margin: 0;
}

.subtitle {
  font-family: Nexa-Demo-Light, sans-serif;
  font-size: 32px;
  color: var(--orange);
  margin: 0;
}

.toplist {
  margin-top: 5vh;
  position: relative;
}

.toplist-items {
  position: absolute;
  bottom: 8%;
  right: 14%;
}

/* .adv-container {} */

.main-advantages {
  padding: 48px;
  background-color: var(--light);
  border-radius: 45px;
  min-height: 60vh;
  width: 100%;
  margin-top: 100px;
  color: var(--dark);
}

.adv-header {
  padding: 1rem 24px;
  border-radius: 20px;
  box-shadow: 0 0 4px rgba(19, 19, 19, 0.5);
  font-variant-caps: all-small-caps;
  font-size: 32px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adv-list {
  position: relative;
}

.detailbtn-block {
  position: absolute;
  bottom: 0;
  right: -1rem;
}

.adv-item {
  display: flex;
  gap: 32px;
}

.adv-bottom {
  margin-top: 36px;
  display: flex;
  gap: 32px;
}

.adv-col-1 {
  width: 30%;
}

.adv-col-2 {
  width: 65%;
}

.adv-col-1 img,
.adv-col-2 img {
  width: 100%;
}

.row-line {
  display: flex;
  margin-top: 1rem;
}

.col1-btns {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.row-btn {
  border-radius: 32px;
  box-shadow: 0 0 4px rgba(19, 19, 19, 0.75);
  padding: 1rem 24px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.row-btn.nulshock-orange {
  width: 30%;
}

.nulshock-orange {
  color: var(--orange);
  font-family: Nulshock, sans-serif;
}

.main-halls {
  margin-top: 100px;
}

.halls-row {
  display: flex;
  width: 100%;
  margin-top: 2rem;
}

.genesis {
  width: 65% !important;
  margin-right: 1rem;
}

.nova {
  width: 34% !important;
}

.echo {
  width: 34% !important;
}

.chrono {
  width: 34% !important;
}

.pantheon {
  width: 34% !important;
}

.main-booking {
  width: 94%;
  min-height: 30vh;
  margin: 160px 0 200px;
  background-color: var(--orange);
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  display: flex;
  gap: 60px;
  color: var(--dark);
}

.main-booking-img {
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  min-width: 60%;
  height: 100%;
  object-fit: contain;

}

.main-booking-sub {
  padding: 2rem;
}

.booking-title {
  font-weight: bold;
  filter: drop-shadow(0 2px 0px var(--dark));
}

.main-booking-btn {
  border-radius: 40px;
  font-weight: bold;
  box-shadow: 0 0 4px rgba(19, 19, 19, 0.5);
  text-decoration: none;
  color: var(--dark);
  padding: 12px 6rem;
  margin-top: 1rem;
}





.foot {
  background-color: var(--orange);
  color: var(--dark);

  margin-top: 10vh;
  min-height: 492px;

  padding: 32px 0;
}

.footer-top p,
.footer-bottom p {
  margin: 0;
}

.footer-top,
.footer-bottom {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 2px 4px rgba(19, 19, 19, 0.5);
  margin-left: 100px;
  margin-bottom: 20px;
}

.footer-content {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 2rem;
}

.footer-contact {
  padding: 2rem;
  border-radius: 40px;
  box-shadow: 0 0 4px rgba(19, 19, 19, 0.75);
}

.footer-contact-line {
  display: flex;
  justify-content: space-between;
}

.line-bold {
  font-weight: bold;
}

.prime-btn {
  background-color: var(--dark);
  color: var(--light);
  font-weight: 600;
  border-radius: 32px;
  outline: none;
  padding: 8px 20px;
  border: none;
  min-width: 180px;
  margin-top: 1rem;
  font-size: 16px;
}

.prime-link {
  text-decoration: none;
  font-weight: 600;
  color: var(--dark);
}

.sm-text {
  font-size: 16px;
}

.extra-sm-text {
  font-size: 12px;
}

.logout-btn {
  background-color: rgba(50, 50, 50, 0.5);
  box-shadow: 0 0 4px rgba(19, 19, 19, 0.75);
  padding: 10px;
  width: 60px;
  height: 60px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border-radius: 16px;
  outline: none;
  border: none;
  font-size: 32px;
}